@model TRSB.Web.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profil";
}
<h2>Profil utilisateur</h2>

@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Informations personnelles</h5>
            <p class="card-text"><strong>Nom d’usager:</strong> @Model.Username</p>
            <p class="card-text"><strong>Courriel:</strong> @Model.Email</p>
            <p class="card-text"><strong>Nom :</strong> @Model.Name</p>
        </div>
    </div>
    <a asp-action="Edit" asp-controller="Profile"  class="btn btn-primary mt-3">Modifier le profil</a>
}
else
{   
    <div class="alert alert-warning">
        Profil non disponible. Veuillez réessayer plus tard.
    </div>
}
