@model TRSB.Web.Models.RegisterViewModel
@{
    ViewData["Title"] = "Créer un compte";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <h3 class="text-center mb-4">Créer un compte</h3>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger mt-3">
                    @Html.ValidationSummary()
                </div>
            }

            <form method="post" asp-action="Register" class="card p-4 shadow-sm">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Courriel</label>
                    <input name="email" type="email" asp-for="Email" class="form-control" required />
                </div>      
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nom complet</label>
                    <input name="name" asp-for="Name" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Nom d’usager</label>
                    <input name="username" asp-for="Username" class="form-control" required />
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Mot de passe</label>
                    <input name="password" type="password" asp-for="Password" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Confirmer le mot de passe</label>
                    <input name="confirmPassword" type="password" asp-for="ConfirmPassword" class="form-control" required />
                </div>  
                <button class="btn btn-primary w-100">S'inscrire</button>
               
            </form> 
            <a class="btn btn-link w-100 mt-2" asp-controller="Account" asp-action="Login">Déjà un compte ? Connexion</a>
        </div>
    </div>
</div>  
